@media screen and (max-width: 992px) {
   .no-padding{
	padding-right: 0;
	padding-left: 0;
	padding-bottom: 0;
	padding-top: 0;
	padding: 0;
   }
   .jd-message{
   	 .company{
   		margin: 8px !important;
   	 }
   	.update-time{
   		top: 42px !important;
   	}
   }
   .sm-padding-left{
      padding-left: 20px;
   }
}