.get-vip-div{
	background:url("/scss/img/vip-bg.png") no-repeat;
	background-size:cover;
	text-align: center;
	background-color:#454242;
	.bird{
		padding-top:.4rem;
		i{
			@extend %inline-block;
			width: 1.4rem;
			height: 1.4rem;
			background:url("/scss/img/bird.png") no-repeat;
			background-size:contain;
		}
	}
	.vip-title{
		font-size:$font-18;
		color: $whi-col;
		margin-top: .2rem;
	}
	.vip-div{
		background:$whi-col;
		border-radius:$radius;
		display:flex;
		margin-bottom:.3rem;
		line-height: 1rem;
		input{
			flex: 1;
			font-size:$font-13;
			height: 1rem;
			padding:0 20px;
		}
		a{
			width: 2.6rem;
			padding:0 .1rem 0 .3rem;
			color: $red-col;
		}
	}
	.vip-form{
		padding:0 .2rem;
		margin:.6rem 0;
	}
	.vip-btn{
		padding:0 .2rem;
	}
}