.get-vip-div{
	background:url("/scss/img/vip-bg.png") no-repeat;
	background-size:cover;
	text-align: center;
	background-color:#454242;
	.bird{
		padding-top:.4rem;
		i{
			@extend %inline-block;
			width: 1.4rem;
			height: 1.4rem;
			background:url("/scss/img/bird.png") no-repeat;
			background-size:contain;
		}
	}
	.vip-title{
		font-size:$font-18;
		color: $whi-col;
		margin-top: .2rem;
	}
	.vip-div{
		background:$whi-col;
		border-radius:$radius;
		margin-bottom:.3rem;
		line-height: 1rem;
		text-align: left;
		input{
			@extend %inline-block;
			font-size:$font-13;
			height: 1rem;
			padding:0 20px;
			width: 7rem;
		}
		a{
			@extend %inline-block;
			width: 2.5rem;
			padding:0 20px 0 0px;
			color: $red-col;
			text-align: right;
		}
		.auto-vip{
			width: 4rem;
			padding-right: 40px;
		}
	}
	.vip-form{
		padding:0 20px;
		margin:.6rem 0;
	}
	.vip-btn{
		padding:0 20px;
	}
}