html{
	font-size: 10px;
}
.wrap{
	max-width:7.5rem;
	@extend %h-center;
	//font-size: $font-14;

}
.input-div{
	padding:10px;
	div{
		margin-top: 15px;
	}
}
.xin-input{
	border:1px solid $bor-col;
	padding: 15px;
	border-radius: 4px;
	display: flex;
	em{
		color: $red-col;
		width: 10px;
	}
	span{
		color: $font-heicol;
		border-right: 1px solid $bor-col;
		padding: 0 10px 0 5px;
	}
	input{
		padding: 0 10px;
		width: 100%;
		flex: 1;
	}
}
i{
	@extend %inline-block;
}
i.down{
	@include cvlist-sprite(down);
	position:relative;
	top:5px;
}
.prov-input{
	margin-top: 30px !important;
}
.subject-type{
	display: flex;
	span{
		flex: 1;
		border: 1px solid $bor-col;
		padding: 15px 0;
		text-align:center;
		border-radius: 4px;
		&.active{
			i{
				@include cvlist-sprite(red-gou);
				margin-right: 10px;
			}
			border-color: $red-col;
			color: $red-col;
		}
	}
	em{
		width: 10px;
	}
}
.get-report{
	margin:35px 0 40px 0;
}
.red-btn{
	@extend %inline-block;
	background:$red-col;
	width:100%;
	height:50px;
	border-radius:4px;
	color:$whi-col;
	font-size:$font-18;
	text-align:center;
	line-height:50px;
}
.what-result{
	padding:10px;
	background:$bg-col;
	font-size:$font-12;
	padding-bottom:50px;
	li{
		margin-top: 15px;
		color: $font-midcol;
		i{
			@include cvlist-sprite(lingxin);
			text-align:center;
			margin-right: 10px;
		}
	}
	.what-title{
		color: $font-ligcol;
		margin-top: 5px;
	}
}