html{
	font-size: .2rem;
	background:#f1f1f1;
}
.wrap{
	max-width:$m-width;
	@extend %h-center;
	font-size: $font-14;
	background:$whi-col;

}
.input-div{
	padding:.2rem;
	div{
		margin-top: .3rem;
	}
}
.prov-input-list,.school-input-list{
	width:100%;  
	position:relative;
	.down-span{
		padding:0 .2rem;
		i{
			font-size: $font-14;
			cursor: pointer;
			color: $font-ligcol;
		}
	}
}
.xin-input{
	border:$border solid $bor-col;
	padding: .3rem;
	border-radius: .08rem;
	display: flex;
	em{
		color: $red-col;
		width: .2rem;
	}
	span{
		color: $font-heicol;
		border-right: .02rem solid $bor-col;
		padding: 0 0.2rem 0 0.1rem;
	}
	input{
		padding: 0 0.2rem;
		width: 100%;
		flex: 1;
		text-align: left;
		font-size: $font-13;
	}
}
i{
	@extend %inline-block;
}
i.down{
	@include cvlist-sprite(down);
	position: relative;
	// left: -6px;
}
.prov-input{
	margin-top: 0.1rem !important;
}
.subject-type{
	display: flex;
	padding:0 2px;
	span{
		flex: 1;
		border: 1px solid $bor-col;
		padding: 0.3rem 0;
		text-align:center;
		border-radius: .08rem;
		cursor: pointer;
		i{
			font-size: $font-14;
			color: $red-col;
			margin-right: .1rem;
		}
		&.active{
			// i{
			// 	@include cvlist-sprite(red-gou);
			// 	margin-right: .2rem;
			// }
			border-color: $red-col;
			color: $red-col;
		}
	}
	em{
		width: .2rem;
	}
}
.get-report{
	margin:.7rem 0 .8rem 0;
	width:99.6% !important;
	position:relative;
	left:0.2%;
	
}
.red-btn{
	@extend %inline-block;
	background:$red-col;
	width:100%;
	height:1rem;
	border-radius:$radius;
	color:$whi-col;
	font-size:$font-18;
	text-align:center;
	line-height:1rem;
}
.what-result{
	padding:.2rem;
	background:$bg-col;
	font-size:$font-12;
	padding-bottom:1rem;
	li{
		margin-top: .3rem;
		color: $font-midcol;
		i{
			// @include cvlist-sprite(lingxin);
			// text-align:center;
			// margin-right: .2rem;
			font-size: .48rem;
			color: $yellow-col;
		}
		span{
			position:relative;
			left: -0.31rem;
			top:0.02rem;
		}
	}
	.what-title{
		color: $font-ligcol;
		margin-top: .1rem;
	}
}
.down-list{
	display:none;
	position: absolute;
	border:$border solid $bor-col;
	border-top:0;
	width:100%;
	margin-right:.2rem;
	background:$whi-col;
	padding:0 .2rem .2rem .2rem;
	border-radius:0 0 $radius $radius;
	height:6rem;
	overflow: scroll;
	z-index: 100;
	li{
		padding:0 .3rem;
		line-height: .7rem;
		font-size: $font-14;
		border-bottom: $border solid #f0f0f0;
		cursor: pointer;
		&:hover{
			background:#ffe4e0;
		}
	}
}
.prov-input-active,.school-input-active{
	border-radius:$radius $radius 0 0 ;
	.down{
		@include cvlist-sprite(close-prov);
		top: 0;
	}
}
.school-list{
	height:auto;
}
.input-div-title{
	margin-top:.1rem;
	color: $font-ligcol;
	font-size:$font-12;
}