.introduce{
	background:$bg-col;
}
.you-can{
	img{
		width: 100%
	}
}
.other-funciton{
	background: $whi-col;
	padding: 0 .2rem;
	margin-bottom:.2rem;
	.title-p{
		font-size: $font-13;
		padding:.2rem 0;
	}
	ul{
		li{
			border-top: $border solid #f0f0f0;
			padding:.2rem 0;
			p{
				font-size: $font-12;
				color: $font-midcol;
				margin-left: .6rem;
			}
			i{
				margin: 0 .1rem;
				color: $yellow-col;
				font-size: $font-16;
			}
			// .test-i{
			// 	@include cvlist-sprite(test-i);
			// }
			// .intel-i{
			// 	@include cvlist-sprite(intel-i);
			// }
			// .big-i{
			// 	@include cvlist-sprite(big-i);
			// }
		}
	}

}
.four-reason{
	margin-bottom:.2rem;
	background: $whi-col;
	padding-top:.4rem;
	// .reason-title{
	// 	font-size: 17px;
	// 	color: $yellow-col;
	// 	text-align: center;
	// 	i{
	// 		@include cvlist-sprite(reason-title);
	// 	}
	// }
}
.get-intro{
	background:#3e3a39;
	padding:.2rem .2rem;
	color:$whi-col;
	font-size:$font-13;
	line-height:.4rem;
	p{
		margin: .2rem 0;
	}
	em{
		color: $yellow-col;
	}
}
.get-vip{
	position: fixed;  
	bottom: 0;//这里换成top:0;就悬浮在头部  
	z-index: 100; 
	@extend %inline-block;
	height:1rem;
	width:100%;
	line-height:1rem;
	color:$whi-col;
	text-align:center;
	background:$red-col;
}
.reason-img{
	img{
		width: 100%;
	}
}
.vip-btn-div{
	height:1rem;
}