// .introduce{
// 	background:$bg-col;
// }
// .you-can{
// 	img{
// 		width: 100%
// 	}
// }
.other-funciton{
	background: $whi-col;
	padding: 0 .2rem;
	margin-bottom:.2rem;
	.title-p{
		font-size: $font-13;
		padding:.2rem 0;
	}
	ul{
		li{
			border-top: $border solid #f0f0f0;
			padding:.2rem 0;
			p{
				font-size: $font-12;
				color: $font-ligcol;
				margin-left: .6rem;
			}
			i{
				margin: 0 .1rem;
				color: $yellow-col;
				font-size: $font-16;
			}
		}
	}

}
.four-reason{
	margin-bottom:.2rem;
	background: $whi-col;
	padding-top:.4rem;
}
.get-intro{
	background:#3e3a39;
	padding:.2rem .2rem;
	color:$whi-col;
	font-size:$font-13;
	line-height:.4rem;
	p{
		margin: .2rem 0;
	}
	em{
		color: $yellow-col;
	}
}
.get-vip{
	position: absolute;  
	bottom: 0 ; 
	z-index: 100; 
	height:1rem;
	width:100%;
	line-height:1rem;
	color:$whi-col;
	text-align:center;
	background:$red-col;
}
.reason-img{
	img{
		width: 100%;
	}
}
.vip-btn-div{
	height:1rem;
}
.introduce-body{
	background:#f4f4f4;
	position:absolute;
	width:100%;
	top:0;
	bottom:1rem;
	 overflow-y:auto;
	 -webkit-overflow-scrolling:touch;
	 -webkit-text-size-adjust:none;
}