.vip-result{
	background:url("/scss/img/vip-result-bg.png") no-repeat;
	background-size:contain;
	text-align:center;
}
.result-text{
	color:$yellow-col;
	width:100%;
	position: relative;
	text-align:center;
	margin-top:.52rem;
	.text{
		@extend %inline-block;
		@extend %h-center;
		width: 4.4rem;
		line-height: 3rem;
		height: 2.4rem;
		font-size: .3rem;
		position:relative;
		background:url("/scss/img/vip-result-text.png") no-repeat;
		background-size:contain;
	}

}
.vip-desc{
	color:$whi-col;
	font-size:$font-12;
	line-height:.4rem;
	em{
		color: $yellow-col;
	}
}
.vip-result-btn{
	margin:.4rem .2rem;
}
.how-use{
	background:$yellow-col;
	padding: .6rem .8rem .2rem .8rem;
	margin:.9rem .2rem 0 .2rem;
	.how-title{
		span{
			@extend %inline-block;
			width: 80%;
			color: $yellow-col;
			background:url("/scss/img/how-title.png") no-repeat;
			background-size:contain;
			height: .6rem;
			padding:.2rem;
		}
	}
	.how-div{
		margin: .37rem 0 .84rem 0;
		.how-num{
			width: .5rem;
			position: relative;
			@extend %inline-block;
			div{
				@extend %inline-block;
				background:url("/scss/img/how-num.png") no-repeat;
				background-size:contain;
				height: 3.6rem;
				width: 100%;
			}
		}
		.how-text{
			width: 4.7rem;
			font-size: $font-12;
			text-align: left;
			@extend %inline-block;
			position: relative;
			top: -0.15rem;
			div{
				padding-top: .16rem;
			}
			.where-down{
				height: 1rem;
				border-bottom: $border solid #ab8614;
				position:relative;
				top: .15rem;
			}
			.how-down{
				height: 2.1rem;
				border-bottom:$border solid #ab8614;
				position: relative;
				top: .25rem;
				.phone-p{
					margin-top: .4rem;
				}
				span{
					color: $red-col;
				}
			}
			.how-active{
				margin-top:.3rem;
			}
		}
	}
}