.vip-result{
	background:url("/scss/img/vip-result-bg.png") no-repeat;
	background-size:contain;
	text-align:center;
}
.result-text{
	color:$yellow-col;
	width:100%;
	position: relative;
	text-align:center;
	.text{
		@extend %inline-block;
		@extend %h-center;
		width: 4.4rem;
		line-height: 3rem;
		height: 2.4rem;
		font-size: .3rem;
		position:relative;
		background:url("/scss/img/vip-result-text.png") no-repeat;
	}

}
.vip-desc{
	color:$whi-col;
	font-size:$font-12;
	line-height:.4rem;
	em{
		color: $yellow-col;
	}
}
.vip-result-btn{
	margin:.4rem .2rem;
}
.how-use{
	background:$yellow-col;
	padding: .4rem .8rem;
	margin:1rem .2rem 0 .2rem;
	.how-title{
		span{
			@extend %inline-block;
			width: 80%;
			color: $yellow-col;
			background:url("/scss/img/how-title.png") no-repeat;
			background-size:contain;
			height: .6rem;
			padding:.2rem;
		}
	}
	.how-div{
		display: flex;
		margin: .4rem 0 .4rem 0;
		.how-num{
			width: 1rem;
			i{
				@include cvlist-sprite(how-num);
			}
		}
		.how-text{
			flex: 1;
			font-size: $font-12;
			text-align: left;
			div{
				padding-top: .14rem;
			}
			.where-down{
				height: .9rem;
				border-bottom: $border solid #ab8614;
			}
			.how-down{
				height: 2.2rem;
				border-bottom:$border solid #ab8614;
				.phone-p{
					margin-top: .2rem;
				}
				span{
					color: $red-col;
				}
			}
		}
	}
}