<div id="modal-black-masking" class="hide"></div>
<div class="analyse-report-wrap">
    <div class="report-header">
        <img src="/scss/images/score-analysis-banner.png" alt="" class="header-bg">
        <p class="data-origin-header">本报告由&nbsp;<span class="yellow-col goto-wmzy-pro-intro">完美志愿</span>&nbsp;提供</p>
        <div class="report-summary">
            <div class="beveled-boder" id="score-rank-wrap">

                <script id="score-rank-tpl" type="text/template">
                    <p class="loc-subject"><&= data.loc_provinc_name&> — <&= data.loc_wenli&></p>
                    <ul class="score-rank">
                        <li class="about-score">
                            <span class="score-key">你的成绩：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            <span class="score-value"><em class="helvetica-font"><&= data.score&></em> 分</span>
                        </li>
                        <li class="score-rank-divider"></li>
                        <& if(data.rank) {&>
                        <li class="about-ranking">
                            <span class="rank-key">经推算，省排名约：</span>
                            <span class="rank-value">第 <em class="helvetica-font"><&= data.rank&></em> 名</span>
                        </li>
                        <&}&>
                    </ul>
                </script>
            </div>
            <ul class="summary-items" id="summary-items-wrap">
                <script id="summary-items-tpl" type="text/template">
                    <& if(data.exp_sch && data.adm_ratio!=null && data.adm_ratio>=0 && data.score_gap){ &>
                    <li class="item-detail">
                        <i class="iconfont icon-sch-gap id-first"></i>
                        <&if(data.score_gap &&　data.score_gap<=-5){&>
                        <span>你的成绩比该校的最低分高出约<em class="black-strong helvetica-font">&nbsp;<&=Math.abs(data.score_gap)&>&nbsp;</em>分</span>
                        <&}else if(data.score_gap && data.score_gap<=5){&>
                        <span>以你目前的成绩，勉强可以考上该校</span>
                        <&}else if(data.score_gap){&>
                        <span>目标学校<em class="black-strong">&nbsp;<&= data.exp_sch&>&nbsp;</em>的录取概率为<em class="black-strong helvetica-font">&nbsp;<&= data.adm_ratio&>%&nbsp;</em>，距离该校还有<em class="black-strong helvetica-font">&nbsp;<&= data.score_gap-5&>~<&= data.score_gap+5&>&nbsp;</em>分的差距</span>
                        <&}&>
                    </li>
                        <&if(data.recommend_sch){&>
                        <li class="item-detail">
                            <i class="iconfont icon-roc-sch id-second"></i>
                            <span>你的分数还可以考上<em class="black-strong">&nbsp;<&= data.recommend_sch&>&nbsp;</em>等<em class="black-strong helvetica-font">&nbsp;<&= data.recommend_sch_num&>&nbsp;</em>所<&= data.batch_name&>学校</span>
                        </li>
                        <&}&>
                    <&}else{&>
                        <&if(data.recommend_sch){&>
                        <li class="item-detail">
                            <i class="iconfont icon-roc-sch id-second"></i>
                            <span>你的分数可以考上<em class="black-strong">&nbsp;<&= data.recommend_sch&>&nbsp;</em>等<em class="black-strong helvetica-font">&nbsp;<&= data.recommend_sch_num&>&nbsp;</em>所<&= data.batch_name&>学校</span>
                        </li>
                        <&}&>
                    <&}&>
                    <&if(data.choosed_sch){&>
                    <li class="item-detail">
                        <i class="iconfont icon-pop-sch id-third"></i>
                        <span>近三年与你成绩相近的人当中，被<em class="black-strong">&nbsp;<&= data.choosed_sch&>&nbsp;</em>录取的考生最多<em class="black-strong">&nbsp;(<&= data.stu_count&>人)&nbsp;</em></span>
                    </li>
                    <&}&>
                </script>
            </ul>
        </div>
    </div>

    <div class="gap-goal">
        <p class="rectangular-title">
            <span class="yellow-col">你与目标学校的距离</span>
        </p>
        <div class="enroll-canvas-wrap">
            <canvas id="enroll-canvas"></canvas>
        </div>
        <div class="gap-suggest-wrap" id="gap-suggest-wrap">

            <script id="gap-suggest-tpl" type="text/template">
                <& if(data.exp_sch && data.score_gap && data.adm_ratio){ &>
                    <& if(data.score_gap <= -5) {&>
                    <p class="gap-sugest">你的成绩比该校的最低分还高出<em class="black-strong">&nbsp;<&= Math.abs(data.score_gap)-5&>~<&= Math.abs(data.score_gap)+5&>&nbsp;</em>分</p>
                    <& }else if( data.score_gap <=5 ) {&>
                    <p class="gap-sugest">以你目前的成绩，勉强可以考上该校</p>
                    <&} else {&>
                    <p class="gap-sugest">如果你想稳妥考上<em class="black-strong">&nbsp;<&= data.exp_sch&>&nbsp;</em>分数还需要提高<em class="black-strong">&nbsp;<&= data.score_gap-5&>~<&= data.score_gap+5&>&nbsp;</em>分，省排名提高约<em class="black-strong">&nbsp;<&= data.rank_gap&>&nbsp;</em>名。</p>
                    <&}&>
                <&} else if(data.adm_ratio==0){&>
                <p class="gap-sugest">如果你想稳妥考上<em class="black-strong">&nbsp;<&= data.exp_sch&>&nbsp;</em>分数还需要提高<em class="black-strong">&nbsp;<&= data.score_gap-5&>~<&= data.score_gap+5&>&nbsp;</em>分，省排名提高约<em class="black-strong">&nbsp;<&= data.rank_gap&>&nbsp;</em>名。</p>
                <&}else if(data.exp_sch && data.score_gap){&>
                    <p class="gap-sugest gap-sugest-center">因数据缺失，暂时无法预测录取概率</p>
                <& }else{ &>
                    <p class="gap-sugest gap-sugest-center">无法查看目标学校的录取概率分析</p>
                <& } &>
            </script>
        </div>

        <div id="line-chart-wmzy-link-wrap">
            <script id="line-chart-wmzy-link-tpl" type="text/template">
                <& if(data.exp_sch && data.sch_min_score_list.length>1){ &>
                <div class="line-chart-wrap">
                    <h3 class="line-chart-tiltle">往年该校录取最低省排名&nbsp;<&= data.loc_provinc_name&> — <&= data.loc_wenli&></h3>
                    <canvas id="line-chart-canvas"></canvas>
                </div>
                <&}&>
            </script>
        </div>
        <p class="wmzy-link goto-wmzy-pro-intro" id="line-chart-wmzy-pro-intro">
            <span>更详尽院校录取数据，尽在完美志愿 >></span>
        </p>

    </div>

    <div class="school-list-wrap">
        <div class="school-list-modal hide" id="school-detail-modal">
            <p class="school-modal-close" id="school-modal-close-btn"><i class="iconfont icon-close"></i></p>
            <div class="school-list-item" id="school-list-item-modal-wrap">
                <script id="school-list-item-modal-tpl" type="text/template">
                    <img src="<&= data.icon_url&>" alt="学校logo" class="school-list-img">
                    <ul class="school-info">
                        <li class="school-name-loc" title="">
                            <span class="school-name"><&= data.sch_name&></span>
                            <span class="school-loc"><&= data.city&></span>
                        </li>
                        <li class="school-rank-probability">
                            <&if(data.total_rank){&>
                            <span class="school-rank"><em class="dot"></em>综合排名<em class="rank-num"><&= data.total_rank&></em></span>
                            <&}&>
                            <&if(data.adm_ratio){&>
                            <span class="enroll-probability"><em class="dot"></em>录取概率<em class="probability-num"><&= data.adm_ratio&>%</em></span>
                            <&}&>
                        </li>
                        <li class="school-label">
                            <&if(data.sch_flag.length >= 1){&>
                            <span class="school-label-1"><&= data.sch_flag[0]&></span>
                                <&if(data.sch_flag[1]){&>
                                <span class="school-label-2"><&= data.sch_flag[1]&></span>
                                <&}&>
                            <&}&>
                            <&if(data.sch_type.length > 0){&>
                            <span class="school-label-3"><&= data.sch_type[0]&></span>
                            <&}&>
                        </li>
                    </ul>
                </script>
            </div>
            <div id="line-chart-wmzy-link-modal-wrap">
                <script id="line-chart-wmzy-link-modal-tpl" type="text/template">
                    <& if(data.sch_min_score_list){ &>
                    <div class="line-chart-wrap">
                        <h3 class="line-chart-tiltle">往年该校录取最低省排名&nbsp;<&= data.loc_provinc_name&> — <&= data.loc_wenli&></h3>
                        <canvas id="line-chart-modal-canvas"></canvas>
                    </div>
                    <&}&>
                </script>
            </div>
            <p class="wmzy-link goto-wmzy-pro-intro">
                <span>更详尽院校录取数据，尽在完美志愿 >></span>
            </p>
        </div>
        <p class="rectangular-title">
            <span class="yellow-col">你的成绩能上什么学校</span>
        </p>
        <div id="school-list-item-wrap">
            <script id="school-list-item-tpl" type="text/template">
                <&if(data.recommend_sch_list.length>0){&>
                    <& for(var i = 0, len = data.recommend_sch_list.length; i < len; i++ ) {
                    var recommendSchoolItem = data.recommend_sch_list[i];&>
                    <div class="school-list-item-btn school-list-item <& if(i == 0) {&>school-list-margin<&}&> <&if(i==len-1){&>school-list-last<&}&>"
                         data-schoolid="<&= recommendSchoolItem.sch_id&>" data-ranknum ="<&= recommendSchoolItem.totalRank&>" data-admratio="<&= recommendSchoolItem.adm_ratio&>">
                        <img src="<&= recommendSchoolItem.icon_url&>" alt="学校logo" class="school-list-img">
                        <ul class="school-info">
                            <li class="school-name-loc" title="">
                                <span class="school-name"><&= recommendSchoolItem.sch_name&></span>
                                <&if(recommendSchoolItem.location){&>
                                <span class="school-loc"><&= recommendSchoolItem.location&></span>
                                <&}&>
                            </li>
                            <li class="school-rank-probability">
                                <&if(recommendSchoolItem.totalRank){&>
                                <span class="school-rank"><em class="dot"></em>综合排名<em class="rank-num"><&= recommendSchoolItem.totalRank&></em></span>
                                <&}&>
                                <&if(recommendSchoolItem.adm_ratio){&>
                                <span class="enroll-probability <&= recommendSchoolItem.totalRank?'':'clear-margin-left'&>"><em class="dot"></em>录取概率<em class="probability-num"><&= recommendSchoolItem.adm_ratio&>%</em></span>
                                <&}&>
                            </li>
                        </ul>
                    </div>
                    <&}&>
                <&}else{&>
                    <div class="div-icon-search"></div>
                    <p class="school-list-none-tip">没有找到你能上的<&if(data.batch_name){&><&= data.batch_name&><&}&>院校</p>
                <&}&>
            </script>
        </div>

        <p class="wmzy-link goto-wmzy-pro-intro" id="recommend-school-link-wrap">
            <&if(data.recommend_sch_list.length>0){&>
            <script id="recommend-school-link-tpl" type="text/template">
                <&var otherRecommendSch = data.recommend_sch_num - data.recommend_sch_list.length;&>
                <&if(otherRecommendSch > 0){&>
                <span>其余 <&= otherRecommendSch&> 所推荐院校，尽在完美志愿 >></span>
                <&}else{&>
                <span>更多推荐院校，尽在完美志愿 >></span>
                <&}&>
            </script>
            <&}else{&>
            <script id="recommend-school-link-tpl-none" type="text/template">
                <span>建议下载完美志愿，查看其它批次推荐院校 >></span>
            </script>
            <}>
        </p>
    </div>

    <div class="other-pepole-go">
        <p class="rectangular-title rectangular-title-l-w">
            <span class="yellow-col">往年与你成绩相近的人去了哪里</span>
        </p>

        <div id="recommend-data-origin-wrap">
            <script id="recommend-data-origin-tpl" type="text/template">
                <p class="data-origin <&= (''+data.rank).length>4?'text-align-left':''&>">
                    数据来源：近三年省排名在第 <span><&= data.rank&></span> 名附近的考生录取去向
                </p>
            </script>
        </div>

        <div class="trapezoid-canvas-wrap" id="top-five-enroll-school-wrap">
            <script id="top-five-enroll-school-tpl" type="text/template">
                <p class="top-five-enroll"><i class="iconfont icon-lingxin"></i><span class="title">录取人数最多的 <&= data.goto_schs_list.length&> 所 <em>学校</em></span></p>
                <canvas id="trapezoid-canvas"></canvas>
            </script>
        </div>

        <div class="top-five-major">
            <div id="top-five-enroll-major-wrap">
                <script id="top-five-enroll-major-tpl" type="text/template">
                    <& if(data.goto_majors_list.length>0){&>
                    <p class="top-five-enroll"><i class="iconfont icon-lingxin"></i><span class="title">录取人数最多的 <&= data.goto_majors_list.length&> 个 <em>专业</em></span></p>
                    <ul class="enroll-major-wrap">
                        <li class="enroll-major-header">
                            <span class="major-name-header">专业名称</span>
                            <span class="major-category-header">所属大类</span>
                            <span class="major-examinee-header">考生数量</span>
                        </li>
                        <&  var maxMajorStuCount = data.goto_majors_list[0].stu_count;&>
                        <& for(var j=0, len = data.goto_majors_list.length; j < len ;j++){
                        var gotoMajorItem = data.goto_majors_list[j];
                        var itemInvalidPercent = (1-gotoMajorItem.stu_count/maxMajorStuCount)*0.5*100 &>
                        <li class="enroll-major-detail">
                            <span class="major-name-detail"><&= gotoMajorItem.major_name&></span>
                            <span class="major-category-detail"><&= gotoMajorItem.primary_name&></span>
                            <span class="major-examinee-detail"><&= gotoMajorItem.stu_count&> <em class="valid-bg"></em><em class="invalid-bg" style="width: <&= itemInvalidPercent&>%"></em></span>
                        </li>
                        <&}&>
                    </ul>
                    <&}&>
                </script>
            </div>
            <p class="wmzy-link goto-wmzy-pro-intro">
            <span>
                更多往年同分考生录取去向，尽在完美志愿 >>
            </span>
            </p>
        </div>
    </div>

    <div class="ipin-disclaim">
        <p class="disclaim-header">声明：</p>
        <p class="disclaim-detail">本报告所有的数据分析是由<span class="yellow-col goto-wmzy-pro-intro">&nbsp;完美志愿&nbsp;</span>的数位中美科学家，通过往年历史录取数据，运用科学算法计算得出的。但不排除有特殊情况，结果仅供参考。</p>
    </div>
</div>