<div class="analyse-report-wrap">
    <div class="report-header">
        <img src="scss/images/score-analysis-banner.png" alt="" class="header-bg">
        <p class="data-origin-header">本报告由&nbsp;<span class="yellow-col">完美志愿</span>&nbsp;提供</p>
        <div class="report-summary">
            <div class="beveled-boder" id="score-rank-wrap">

                <script id="score-rank-tpl" type="text/template">
                    <p class="loc-subject">广东—理科</p>
                    <ul class="score-rank">
                        <li class="about-score">
                            <span class="score-key">你的成绩：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            <span class="score-value"><em><&= data.score&></em> 分</span>
                        </li>
                        <li class="score-rank-divider"></li>
                        <li class="about-ranking">
                            <span class="rank-key">经推算，省排名约：</span>
                            <span class="rank-value"><em><&= data.rank&></em> 名</span>
                        </li>
                    </ul>
                </script>
            </div>
            <ul class="summary-items" id="summary-items-wrap">
                <script id="summary-items-tpl" type="text/template">
                    <& if(data.exp_sch){ &>
                    <li class="item-detail">
                        <i class="id-first"></i>
                        <span>目标学校
                            <em class="black-strong">&nbsp;<&= data.exp_sch&>&nbsp;</em>的录取概率为
                            <em class="black-strong">&nbsp;<&= data.adm_ratio&>%&nbsp;</em>，距离该校还有
                            <em class="black-strong">&nbsp;<&= data.score_gap&>&nbsp;</em>分的差距
                        </span>
                    </li>
                    <li class="item-detail">
                        <i class="id-second"></i>
                        <span>你的分数还可以考上
                            <em class="black-strong">&nbsp;<&= data.recommend_sch&>&nbsp;</em>等
                            <em class="black-strong">&nbsp;<&= data.recommend_sch_num&>&nbsp;</em>，所<&= data.batch_name&>学校
                            <em class="black-strong">&nbsp;30-40&nbsp;</em>分的差距
                        </span>
                    </li>
                    <&}else{&>
                    <li class="item-detail">
                        <i class="id-second"></i>
                        <span>你的分数可以考上
                            <em class="black-strong">&nbsp;<&= data.recommend_sch&>&nbsp;</em>等
                            <em class="black-strong">&nbsp;<&= data.recommend_sch_num&>&nbsp;</em>，所<&= data.batch_name&>学校
                            <em class="black-strong">&nbsp;30-40&nbsp;</em>分的差距
                        </span>
                    </li>
                    <&}&>
                    <li class="item-detail">
                        <i class="id-third"></i>
                        <span>2015年与你成绩相近的人当中，被
                        <em class="black-strong">&nbsp;<&= data.choosed_sch&>&nbsp;</em>录取的考生最多
                        <em class="black-strong">&nbsp;(<&= data.stu_count&>)&nbsp;</em>
                    </span>
                    </li>
                </script>
            </ul>
        </div>
    </div>

    <div class="gap-goal">
        <p class="rectangular-title">
            <span class="yellow-col">你与目标学校的距离</span>
        </p>
        <div class="enroll-canvas-wrap">
            <canvas id="enroll-canvas"></canvas>
        </div>
        <div class="gap-suggest-wrap" id="gap-suggest-wrap">

            <script id="gap-suggest-tpl" type="text/template">
                <& if(data.exp_sch){ &>
                <p class="gap-sugest">如果你想稳妥考上<em class="black-strong">&nbsp;<&= data.exp_sch&>&nbsp;</em>分数还需要提高<em class="black-strong">&nbsp;<&= data.score_gap&>&nbsp;</em>分，省排名提高约<em class="black-strong">&nbsp;<&= data.rank_gap&>&nbsp;</em>名。</p>
                <& }else{ &>
                <p class="gap-sugest">无法查看目标学校的录取概率分析</p>
                <& } &>
            </script>
        </div>

        <div id="line-chart-wmzy-link-wrap">
            <script id="line-chart-wmzy-link-tpl" type="text/template">
                <& if(data.sch_min_score_list){ &>
                <div class="line-chart-wrap">
                    <h3 class="line-chart-tiltle">往年该校录取最低省排名（广东-理科）</h3>
                    <canvas id="line-chart-canvas"></canvas>
                </div>
                <&}&>
            </script>
        </div>
        <p class="wmzy-link goto-wmzy-pro-intro">
            <span>更详尽院校录取数据，尽在完美志愿 >></span>
        </p>

    </div>

    <div class="school-list-wrap">
        <div class="school-list-modal hide">
            <p class="school-modal-close"><i></i></p>
            <div class="school-list-item school-list-margin">
                <img src="/scss/images/school-1.png" alt="学校logo" class="school-list-img">
                <ul class="school-info">
                    <li class="school-name-loc" title="">
                        <span class="school-name">华南理工大学</span>
                        <span class="school-loc">广州</span>
                    </li>
                    <li class="school-rank-probability">
                        <span class="school-rank"><em class="dot"></em>综合排名<em class="rank-num">10</em></span>
                        <span class="enroll-probability"><em class="dot"></em>录取概率<em class="probability-num">70%</em></span>
                    </li>
                    <li class="school-label">
                        <span class="school-label-1">985</span>
                        <span class="school-label-2">211</span>
                        <span class="school-label-3">综合类</span>
                    </li>
                </ul>
            </div>
            <div class="line-chart-wrap">
                <h3 class="line-chart-tiltle">往年该校录取最低省排名（广东-理科）</h3>
                <canvas id="line-chart-canvas"></canvas>
            </div>
        </div>
        <p class="rectangular-title">
            <span class="yellow-col">你的成绩能上什么学校</span>
        </p>
        <div id="school-list-item-wrap">
            <script id="school-list-item-tpl" type="text/template">
                <& for(var i = 0, len = data.recommend_sch_list.length; i < len; i++ ) {
                    var recomendSchoolItem = data.recommend_sch_list[i];
                &>
                <div class="school-list-item <& if(i == 0) {&>school-list-margin<&}&> <&if(i==len-1){&>school-list-last<&}&>" data-shoolid="<&= recomendSchoolItem.sch_id&>">
                    <img src="<&= recomendSchoolItem.icon_url&>" alt="学校logo" class="school-list-img">
                    <ul class="school-info">
                        <li class="school-name-loc" title="">
                            <span class="school-name"><&= recomendSchoolItem.sch_name&></span>
                            <span class="school-loc"><&= recomendSchoolItem.location&></span>
                        </li>
                        <li class="school-rank-probability">
                            <span class="school-rank"><em class="dot"></em>综合排名<em class="rank-num"><&= recomendSchoolItem.total_rank&></em></span>
                            <span class="enroll-probability"><em class="dot"></em>录取概率<em class="probability-num"><&= recomendSchoolItem.adm_ratio&>%</em></span>
                        </li>
                    </ul>
                </div>
                <&}&>
            </script>

        </div>

        <p class="wmzy-link goto-wmzy-pro-intro" id="recommend-school-link-wrap">
            <script id="recommend-school-link-tpl" type="text/template">
                <span>其余 <&= data.recommend_sch_num&> 所推荐院校，尽在完美志愿 >></span>
            </script>
        </p>

        <p class="rectangular-title rectangular-title-l-w">
            <span class="yellow-col">往年与你成绩相近的人去了哪里</span>
        </p>

        <p class="data-origin" id="recommend-data-origin-wrap">
            <script id="recommend-data-origin-tpl" type="text/template">
                数据来源：2013年-2015年省排名在 <span><&= data.rank&></span> 名附近的考生录取去向
            </script>
        </p>

        <div class="trapezoid-canvas-wrap">
            <p class="top-five-enroll"><i></i><span class="title">录取人数最多的 5 个 <em>学校</em></span></p>
            <canvas id="trapezoid-canvas"></canvas>
        </div>

        <div class="top-five-major">
            <p class="top-five-enroll"><i></i><span class="title">录取人数最多的 5 个 <em>专业</em></span></p>
            <div id="top-five-enroll-major-wrap">
            <script id="top-five-enroll-major-tpl" type="text/template">
                <& if(data.goto_majors_list.length>0){&>
                <ul class="enroll-major-wrap">
                    <li class="enroll-major-header">
                        <span class="major-name-header">专业名称</span>
                        <span class="major-category-header">所属大类</span>
                        <span class="major-examinee-header">考生数量</span>
                    </li>
                    <& for(var j=0, len = data.goto_majors_list.length; j < len ;j++){
                        var gotoMajorItem = data.goto_majors_list[j];&>
                    <li class="enroll-major-detail">
                        <span class="major-name-detail"><&= gotoMajorItem.major_name&></span>
                        <span class="major-category-detail"><&= gotoMajorItem.primary_name&></span>
                        <span class="major-examinee-detail"><&= gotoMajorItem.stu_count&> <em class="valid-bg"></em><em class="invalid-bg"></em></span>
                    </li>
                    <&}&>
                </ul>
                <&}&>
            </script>
            </div>
            <p class="wmzy-link goto-wmzy-pro-intro">
            <span>
                更多往年同分考生录取去向，尽在完美志愿 >>
            </span>
            </p>
        </div>
    </div>

    <div class="ipin-disclaim">
        <p class="disclaim-header">声明：</p>
        <p class="disclaim-detail">本报告所有的数据分析是由<span>&nbsp;完美志愿&nbsp;</span>的数位中美科学家，通过往年历史录取数据，运用科学算法计算得出的。但不排除有特殊情况，结果仅供参考。</p>
    </div>
</div>