<div class="analyse-report-wrap">
    <div class="report-header">
        <img src="scss/images/score-analysis-banner.png" alt="" class="header-bg">
        <p class="data-origin-header">本报告由&nbsp;<span class="yellow-col">完美志愿</span>&nbsp;提供</p>
        <div class="report-summary">
            <div class="beveled-boder">
                <p class="loc-subject">广东—理科</p>
                <ul class="score-rank">
                    <li class="about-score">
                        <span class="score-key">你的成绩：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        <span class="score-value"><em>612</em> 分</span>
                    </li>
                    <li class="score-rank-divider"></li>
                    <li class="about-ranking">
                        <span class="rank-key">经推算，省排名约：</span>
                        <span class="rank-value"><em>4000</em> 名</span>
                    </li>
                </ul>
            </div>
            <ul class="summary-items">

                <li class="item-detail">
                    <i class="id-first"></i>
                    <span>
                    目标学校<em class="black-strong">&nbsp;中山大学&nbsp;</em>的录取概率为<em
                            class="black-strong">&nbsp;40%&nbsp;</em>，距离该校还有 <em
                            class="black-strong">&nbsp;30-40&nbsp;</em>分的差距
                </span>
                </li>
                <li class="item-detail">
                    <i class="id-second"></i>
                    <span>
                    目标学校<em class="black-strong">&nbsp;中山大学&nbsp;</em>的录取概率为<em
                            class="black-strong">&nbsp;40%&nbsp;</em>，距离该校还有 <em
                            class="black-strong">&nbsp;30-40&nbsp;</em>分的差距
                </span>

                </li>
                <li class="item-detail">
                    <i class="id-third"></i>
                    <span>
                    目标学校<em class="black-strong">&nbsp;中山大学&nbsp;</em>的录取概率为<em
                            class="black-strong">&nbsp;40%&nbsp;</em>，距离该校还有 <em
                            class="black-strong">&nbsp;30-40&nbsp;</em>分的差距
                </span>
                </li>
            </ul>
        </div>
    </div>

    <div class="gap-goal">
        <p class="rectangular-title">
            <span class="yellow-col">你与目标学校的距离</span>
        </p>
        <div class="enroll-canvas-wrap">
            <canvas id="enroll-canvas"></canvas>
        </div>
        <p class="gap-sugest">如果你想稳妥考上<span class="black-strong">&nbsp;中山大学&nbsp;</span>分数还需要提高 <span class="black-strong">&nbsp;30-40&nbsp;</span>分，省排名提高约1000名。</p>

        <div class="line-chart-wrap">
            <h3 class="line-chart-tiltle">往年该校录取最低省排名（广东-理科）</h3>
            <canvas id="line-chart-canvas"></canvas>
        </div>

        <p class="wmzy-link">
            <span>
                更详尽院校录取数据，尽在完美志愿 >>
            </span>
        </p>
    </div>

    <div class="school-list-wrap">
        <div class="school-list-modal hide">
            <p class="school-modal-close"><i></i></p>
            <div class="school-list-item school-list-margin">
                <img src="/scss/images/school-1.png" alt="学校logo" class="school-list-img">
                <ul class="school-info">
                    <li class="school-name-loc" title="">
                        <span class="school-name">华南理工大学</span>
                        <span class="school-loc">广州</span>
                    </li>
                    <li class="school-rank-probability">
                        <span class="school-rank"><em class="dot"></em>综合排名<em class="rank-num">10</em></span>
                        <span class="enroll-probability"><em class="dot"></em>录取概率<em class="probability-num">70%</em></span>
                    </li>
                    <li class="school-label">
                        <span class="school-label-1">985</span>
                        <span class="school-label-2">211</span>
                        <span class="school-label-3">综合类</span>
                    </li>
                </ul>
            </div>
            <div class="line-chart-wrap">
                <h3 class="line-chart-tiltle">往年该校录取最低省排名（广东-理科）</h3>
                <canvas id="line-chart-canvas"></canvas>
            </div>
        </div>
        <p class="rectangular-title">
            <span class="yellow-col">你的成绩能上什么学校</span>
        </p>
        <div class="school-list-item school-list-margin">
            <img src="/scss/images/school-1.png" alt="学校logo" class="school-list-img">
            <ul class="school-info">
                <li class="school-name-loc" title="">
                    <span class="school-name">华南理工大学</span>
                    <span class="school-loc">广州</span>
                </li>
                <li class="school-rank-probability">
                    <span class="school-rank"><em class="dot"></em>综合排名<em class="rank-num">10</em></span>
                    <span class="enroll-probability"><em class="dot"></em>录取概率<em class="probability-num">70%</em></span>
                </li>
            </ul>
        </div>
        <div class="school-list-item school-list-last">
            <img src="/scss/images/school-1.png" alt="学校logo" class="school-list-img">
            <ul class="school-info">
                <li class="school-name-loc" title="">
                    <span class="school-name">华南理工大学</span>
                    <span class="school-loc">广州</span>
                </li>
                <li class="school-rank-probability">
                    <span class="school-rank"><em class="dot"></em>综合排名<em class="rank-num">10</em></span>
                    <span class="enroll-probability"><em class="dot"></em>录取概率<em class="probability-num">70%</em></span>
                </li>
            </ul>
        </div>
        <p class="wmzy-link">
            <span>
                其余 33 所推荐院校，尽在完美志愿 >>
            </span>
        </p>

        <p class="rectangular-title rectangular-title-l-w">
            <span class="yellow-col">往年与你成绩相近的人去了哪里</span>
        </p>

        <p class="data-origin">
            数据来源：2013年-2015年省排名在 <span>400</span> 名附近的考生录取去向
        </p>

        <div class="trapezoid-canvas-wrap">
            <p class="top-five-enroll"><i></i><span class="title">录取人数最多的5个 <em>学校</em></span></p>
            <canvas id="trapezoid-canvas"></canvas>
        </div>

        <div class="top-five-major">
            <p class="top-five-enroll"><i></i><span class="title">录取人数最多的5个 <em>专业</em></span></p>
            <ul class="enroll-major-wrap">
                <li class="enroll-major-header">
                    <span class="major-name-header">专业名称</span>
                    <span class="major-category-header">所属大类</span>
                    <span class="major-examinee-header">考生数量</span>
                </li>
                <li class="enroll-major-detail">
                    <span class="major-name-detail">建筑设计</span>
                    <span class="major-category-detail">工科</span>
                    <span class="major-examinee-detail">36 <em class="valid-bg"></em><em class="invalid-bg"></em></span>
                </li>
                <li class="enroll-major-detail">
                    <span class="major-name-detail">汽车制造与装配技术</span>
                    <span class="major-category-detail">工科</span>
                    <span class="major-examinee-detail">26 <em class="valid-bg"></em><em class="invalid-bg" style="width: 10px"></em></span>
                </li>
            </ul>

            <p class="wmzy-link">
            <span>
                更多往年同分考生录取去向，尽在完美志愿 >>
            </span>
            </p>
        </div>
    </div>

    <div class="ipin-disclaim">
        <p class="disclaim-header">声明：</p>
        <p class="disclaim-detail">本报告所有的数据分析是由<span>&nbsp;完美志愿&nbsp;</span>的数位中美科学家，通过往年历史录取数据，运用科学算法计算得出的。但不排除有特殊情况，结果仅供参考。</p>
    </div>
</div>