<div class="bird">
	<!-- <i class="iconfont icon-bird"></i> -->
	<i class=""></i>
</div>
<p class="vip-title">输入手机号立即领取</p>
<form class="vip-form">
	<div class="vip-div">
		<input type="text" name="mobile" class="vip-input" id="mobile" placeholder="输入你的手机号">
		<input type="hidden" id="sales-man" name="agent_id">
	</div>
	<div class="vip-div">
		<input type="text" name="auth_code"  class="vip-input auto-vip" id="auto-code" placeholder="输入收到的验证码">
		<a href="javascript:;" id="get-auto-code" class="get-auto-code">发送验证码</a>
	</div>
</form>
<div class="vip-btn" id="vip-btn">
	<a href="javascript:;" class="red-btn get-btn">免费领取VIP体验卡</a>
</div>