<div class="swiper-container xin-con">
    <div class="swiper-wrapper">
        <div class="swiper-slide input">
        	<%- include input.html -%>
            <!--<%- include analysisReport.html -%>-->
        </div>
        <div class="swiper-slide">
            <%- include analysisReport.html -%>
        </div>

        <div class="swiper-slide introduce">
        	<%- include introduce.html -%>
        </div>
        <div class="swiper-slide get-vip-div">
        	<%- include get-vip.html -%>
        </div>
        <div class="swiper-slide vip-result">
            <%- include vip-result.html -%>
        </div>
    </div>
</div>