<div class="swiper-container xin-con">
    <div class="swiper-wrapper">
        <div class="swiper-slide input stop-swiping">
        	<%- include input.html -%>
        </div>
        <div class="swiper-slide stop-swiping analyse-html">
            <%- include analysisReport.html -%>
        </div>

        <div class="swiper-slide introduce stop-swiping">
        	<%- include introduce.html -%>
        </div>
        <div class="swiper-slide get-vip-div stop-swiping">
        	<%- include get-vip.html -%>
        </div>
        <div class="swiper-slide vip-result stop-swiping">
            <%- include vip-result.html -%>
        </div>
    </div>
</div>