<div class="input-div">
	<p class="input-div-title">请输入你的联考成绩和目标学校</p>
	<div class="prov-input-list">
		<div class="xin-input prov-input ">
			<em>*</em>
			<span>你的省份</span>
			<input type="text" name="" readonly="true" data-val="" id="prov-name" placeholder="请选择你的省份">
			<em class="down-span js-open"><i class="iconfont icon-down" id="prov-down"></i></em>
		</div>
		<ul class="prov-list down-list">
		</ul>
	</div>
	<div class="subject-type">
		<span  data-val=2 class="active"><i class="iconfont icon-gou"></i>理科</span>
		<!-- <em></em> -->
		<span  data-val=1><i class="iconfont"></i>文科</span>
	</div>
	<div class="xin-input ">
		<em>*</em>
		<span>你的成绩</span>
		<input type="text" name="" id="score" placeholder="请输入你的联考成绩">
		<input type="hidden" id="exam-no" name="">
	</div>
	<div class="school-input-list">
		<div class="xin-input school-input">
			<em> </em>
			<span>目标学校</span>
			<input type="text" name="" id="school-input" placeholder="请输入你的目标学校 (选填)">
		</div>
		<ul class="school-list down-list">
		</ul>
	</div>
	<a href="javascript:;" class="red-btn get-report" id="get-report">生成定位分析报告</a>
</div>
<div class="what-result">
	<ul>
		<li class="what-title">
			分析报告内容包括：
		</li>
		<li>
			<i class="iconfont icon-lingxin"></i><span>1</span>你与目标学校的距离
		</li>
		<li>
			<i class="iconfont icon-lingxin"></i><span>2</span>你能上什么学校
		</li>
		<li>
			<i class="iconfont icon-lingxin"></i><span>3</span>往年与你成绩相近的考生去了哪里
		</li>
	</ul>
</div>