<div class="you-can">
	<img src="/scss/img/jieshao-head.png">
</div>
<div class="other-funciton">
	<p class="title-p">除此之外，完美志愿还有以下特色功能：</p>
	<ul>
		<li>
			<div>
				<i class="iconfont icon-test-i"></i>
				<span>自我测评系统</span>
				<p>国际权威的性格测评系统，助你找到合适的专业</p>
			</div>
		</li>
		<li>
			<div>
				<i class="iconfont icon-intel-i"></i>
				<span>智能填志愿</span>
				<p>基于成绩、职业倾向和填报策略，智能生成深度定制的志愿表</p>
			</div>
		</li>
		<li>
			<div>
				<i class="iconfont icon-big-i"></i>
				<span>海量就业数据</span>
				<p>来自千万的简历数据，提供全国 2000+ 所学校，1000+ 个专
				业的就业报告</p>
			</div>
		</li>
	</ul>
</div>
<div class="four-reason">
	<div class="reason-img">
		<img src="/scss/img/reason.png">
	</div>
</div>
<div class="get-intro">
	<p>
		2017-02-28 前可 <em>免费领取</em> 完美志愿 VIP 体验卡，可畅快使
		用所有特权功能。
	</p>
	<p>
		立即点击屏幕最下方领取体验卡，然后 <em>下载完美志愿 APP 或
		登录 wmzy.com 体验</em> 吧！
	</p>
</div>
<div class="vip-btn-div">
	<a href="javascript:;" class="get-vip" id="get-vip-btn">免费领取VIP体验卡</a>
</div>