// ..............................................................................compass-sprite-set..........................
@import "compass/utilities/sprites";

$icon-layout: smart;
$cvlist-spacing: 1px;
$cvlist-sort-by: 'width';
@import "cvlist/*.png";
$cvlist-sprite-dimensions: true;


$p-wid:1170px;
$l-wid:920px;
$left-width:250px;

$p-bootstrap-l-width: 1170px;
$m-width:7.5rem;

// .........................font-size...............................................................
$font-42: 42px;

$font-30: 30px;
$font-24: 24px;
$font-22: 22px;
$font-20: 20px;

$font-18: 0.36rem;
$font-16: 0.32rem;
$font-14: 0.28rem;
$font-13: 0.26rem;
$font-12: 0.24rem;

//..................................color...........................................................


$radius:0.08rem;
$border:1px;
$act-hover-col:#15c1ff;
$ligh-col:#0088cb;
$ligh-col-hov:#007fbd;
$yellow:#ffa13d;
$yellowish:#ffd1a0;
$red:#db4647;
$cite-hover-col:#021824;

$main-col:#002435;
$gray-col:#818486;
$p-col:#1e1e1e;
$tip-col:#c2c6cb;
$any-bor:#e2e2e4;
$sel-hov:#919499;
$hei-bor:#d2d2d2;

$line-col:#e1e5ea;
$line-low:#edf1f5;


$whi-col:#fff;
$black:#000;
$bg-col:#f4f4f4;
$bor-col:#dfdfdf;
$bor-heicol:#cccccc;
$one-bor:1px solid $bor-col;
$act-col:#00aff0;
$ligact-col:#0096cc;
$font-col:#8CD595;
$font-xs-ligcol:#e9e9e9;
$font-ligcol:#999999;
$font-midcol:#666666;
$font-heicol:#333333;
$font-errcol:#ff6a00;
$gray-bgcol:#fafafa;
$font-actcol:#007099;
$salary-col:#ffa94b;
$staff-col:#5baf3f;

@mixin font-size($sizeVal:1) {
  font-size: $sizeVal/10 + rem;
}
@mixin my-transform($scale:1) {
  transform: scale($scale);
  -webkit-transform: scale($scale);
  -ms-transform: scale($scale);
}
@mixin my-transform-rotate($rotate:30deg){
  transform:rotate($rotate);
  -ms-transform:rotate($rotate); 	/* IE 9 */
  -moz-transform:rotate($rotate); 	/* Firefox */
  -webkit-transform:rotate($rotate); /* Safari 和 Chrome */
  -o-transform:rotate($rotate); 	    /* Opera */
}
@mixin overOneLineHidden {
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis; /* Opera */
  text-overflow: ellipsis; /* IE, Safari (WebKit) */
}

$red-col:#de614c;
$yellow-col:#f9be00;
